<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script src="../Static/JS/index.js"></script>
</head>
<body>
    <header>
        <script>autorization()</script>
        <h1>LifeSpot — прямые трансляции с улиц</h1>
        <input type="text" placeholder="Введите запрос" oninput="
    filterContent()" size="40" />
        <p>Здесь вы можете посмотреть видеотрансляции из разных мест</p>
    </header>
    <aside id="sidebar" >
        <div class="navbar">
            <a href ="/" ><p>О проекте</p></a>
            <a href ="/" > <p>Все трансляции</p></a>
        </div>
       
    </aside>
    <div class="video-container">


        <iframe width="560" height="315" src="https://www.youtube.com/embed/rG13FY2ytno"
                title="YouTube video player" frameborder="1" allow="accelerometer; autoplay;
                    clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            Санкт-Петербург
        </iframe>


        <iframe width="560" height="315" src="https://www.youtube.com/embed/HdGBt2Bs2-A"
                title="YouTube video player" frameborder="1" allow="accelerometer; autoplay;
                    clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            Лондон
        </iframe>



        <iframe width="560" height="315" src="https://www.youtube.com/embed/4qyZLflp-sI"
                title="YouTube video player" frameborder="1" allow="accelerometer; autoplay;
                    clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            Нью-Йорк
        </iframe>


    </div>
    <footer>
        <p>LifeSpot - все права защищены</p>
        <p>Связаться с нами: contact@lifespot.ru</p>
    </footer>
</body>

</html>