<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <h1>LifeSpot — прямые трансляции с улиц</h1>
        <input type="text" placeholder="Введите запрос" size="40" />
        <p>Здесь вы можете посмотреть видеотрансляции из разных мест</p>
    </header>
    <aside id="sidebar" >
        <div class="navbar">
            <a href ="/" ><p>О проекте</p></a>
            <a href ="/" > <p>Все трансляции</p></a>
        </div>
       
    </aside>
    <div class="bordered">


        <iframe width="560" height="315" src="https://www.youtube.com/embed/LI0MBtU61Oc" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/srlpC5tmhYs" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <footer>
        <p>LifeSpot - все права защищены</p>
        <p>Связаться с нами: contact@lifespot.ru</p>
    </footer>
</body>

</html>