<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <style>
        /* Свойства стиля элемента. Подробнее о них в модуле по CSS */
        .bordered {
            border: 2px solid black;
            background-color: azure;
            padding: 10px;
        }
    </style>

</head>
<body>
    <div class="bordered">
        <h1>LifeSpot — прямые трансляции с улиц</h1>
        <p>Здесь вы можете посмотреть видеотрансляции из разных мест</p>

        <!--<a href="https://www.youtube.com/watch?v=wCcMcaiRbhM">
        <button>Санкт-Петербург</button>
    </a>
    <a href="https://www.youtube.com/watch?v=srlpC5tmhYs">
        <button>Нью-Йорк</button>
    </a>

    <a href="https://www.youtube.com/watch?v=JplMzss6_YE">
        <button>Лондон</button>
    </a>-->
        <!--<ul>
        <li><a href="https://help.autodesk.com/" target="myframe">Autodesk</a></li>
        <li><a href="http://www.youtube.com/" target="myframe">Youtube</a></li>
        <li><a href="https://rgs.ru/" target="myframe">RGS</a></li>
    </ul>

    <iframe src="https://vk.com/poymaidrakona/" name="myframe"></iframe>-->


        <iframe width="560" height="315" src="https://www.youtube.com/embed/LI0MBtU61Oc" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/srlpC5tmhYs" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>


</body>
</html>